/* sans-serif font */
@font-face {
	font-family: 'FreeSans';
	/* regular */
	src: url("fonts/FreeSansMerged.ttf");
	font-weight: normal;
	font-style: normal;
	-fs-pdf-font-embed: embed;
	-fs-pdf-font-encoding: Identity-H;
}

@font-face {
	font-family: 'FreeSansI';
	/* italic */
	src: url("fonts/FreeSansObliqueMerged.ttf");
	font-weight: normal;
	font-style: italic;
	-fs-pdf-font-embed: embed;
	-fs-pdf-font-encoding: Identity-H;
}

@font-face {
	font-family: 'FreeSansB';
	/* bold */
	src: url("fonts/FreeSansBoldMerged.ttf");
	font-weight: bold;
	font-style: normal;
	-fs-pdf-font-embed: embed;
	-fs-pdf-font-encoding: Identity-H;
}

/* === FONTS =========================================================== */
body {
	font-family: 'FreeSans';
}

strong {
	font-family: 'FreeSansB';
}

em,
cite {
	font-family: 'FreeSansI';
}

div.front,
div.toc {
	font-family: 'FreeSans';
}

h1,
h2,
h3,
h4,
h5,
h6,
.section_title,
a.tocDth_1 .chapter_prefix_toc {
	font-family: 'FreeSansB';
}

div.headerLeft,
div.headerRight,
div.footerLeft,
div.footerRight {
	font-family: 'FreeSans';
	font-weight: 100;
}

div.resInFlow_ti,
div.tabCap_ti,
table.txt_tb caption,
table.grpTab_tb caption,
div.bkBase_ti {
	font-family: 'FreeSans';
	font-weight: 100;
}

/* === GLOBAL STYLES ======================================================= */
body {
	font-size: 11pt;
	margin-top: 0cm;
	margin-left: 0cm;
	margin-bottom: 0cm;
	margin-right: 0cm;
}

div.root_co {
	width: 19cm;
	/* cf pages */
}

/* === PAGE LAYOUTS ========================================================= */
@page {
	size: A4 portrait;
	margin: 1.25cm 1.25cm 1.25cm 0.75cm;
	/* width = 21 -1.5 -0.5 = 19cm */
	padding: 0 0 0 0;
}

@page rotated {
	size: A4 landscape
}

/* with FS, left and right pages are mixed */
@page: left {
	/* right one Bug FS*/
	/* width = 21 -1.25 -0.75 = 19cm */
	margin-left: 1.25cm;
	/* inside right page */
	margin-right: 0.75cm;
	margin-top: 1.25cm;
	margin-bottom: 1.25cm;
	padding: 0.5cm 0cm 1cm 0cm;

	@bottom-right {
		content: counter(page);
		font-size: 10pt;
		text-align: right;
		color: gray;
	}
}

@page: right {
	/* left one Bug FS*/
	/* width = 21 -1.25 -0.75 = 19cm */
	margin-left: 0.75cm;
	margin-right: 1.25cm;
	/* inside left page*/
	margin-top: 1.25cm;
	margin-bottom: 1.25cm;
	padding: 0.5cm 0cm 1cm 0cm;

	@bottom-left {
		content: counter(page);
		font-size: 10pt;
		text-align: left;
		color: gray;
	}
}

@page part:left {

	/* right one Bug FS*/
	@top-left {
		content: element(headerRight);
	}

	@bottom-left {
		content: element(footerRight);
	}
}

@page part:right {

	/* left one Bug FS*/
	@top-right {
		content: element(headerLeft);
	}

	@bottom-right {
		content: element(footerLeft);
	}
}

@page toc {
	@top-left {
		content: "";
	}

	@top-right {
		content: "";
	}
}


/* === PAGE ZONES =========================================================== */

/*** Elements de marge (running) ***/

div.headerLeft {
	/* page de gauche */
	position: running(headerLeft);
	text-align: right;
	/* intérieur */
}

div.headerRight {
	/* page de droite */
	text-align: left;
	/* intérieur */
	position: running(headerRight);
}

div.footerLeft {
	/* page de gauche */
	position: running(footerLeft);
	text-align: left;
}

div.footerRight {
	/* page de droite */
	position: running(footerRight);
	text-align: right;
}






/* === GENERAL STYLES ======================================================= */
p,
blockquote,
ul,
fieldset,
ol,
dl,
dir,
menu,
table {
	margin: 0.1cm 0 0.15cm 0;
}

h2 {
	margin: 0.7cm 0 0.4cm 0;
}

h3 {
	margin: 0.5cm 0 0.3cm 0;
}

p {
	text-align: justify;
	/* Bug sur la gestion des veuves et orphelins */
	orphans: 0;
	widows: 0;
}

q:before {
	content: open-quote;
}

q:after {
	content: close-quote;
}

table {
	border-collapse: collapse;
}

img {
	page-break-inside: avoid;
}

.root_co td,
.root_co th {
	vertical-align: top;
	padding: 0 0.1cm;
}

td p,
th p {
	margin-top: 0;
	margin-bottom: 0.1cm;
}

div>img {
	/*	display: block;*/
	/*	margin: 0 auto;*/
}

div>table {
	margin: 0 auto;
}






/* === PAGE BREAK ==================================================== */

div.part {
	page-break-before: always;
	/* tricks right = left */
	page: part;
}

.compact div.part {
	page-break-before: auto;
}

.section_ti,
div.refAnnexes_itti,
div.bkBase_ti {
	page-break-after: avoid;
	page-break-inside: avoid;
	/* important pour les titres longs */
}






/* === TITLES STYLES ==================================================== */


h1.section_ti {
	font-size: 3.2em;
	font-weight: normal;
	text-align: center;
	margin-bottom: 2cm;
}

.chapter_prefix {
	display: block;
	font-size: 1.1em;
	margin-bottom: 0.3cm;
	text-align: right;
}

h2.section_ti,
h2.annexes_ti,
h2.glossary_ti,
h2.toc_ti {
	font-size: 2.2em;
	margin-top: 0.2cm;
	margin-bottom: 1cm;
}

h2.section_ti .section_title,
h2.annexes_ti .section_title,
h2.glossary_ti .section_title,
h2.toc_ti {
	background-repeat: no-repeat;
	background-position: left top;
	background-size: auto 0.8cm;
	padding-left: 0.8cm;
}

h3.section_ti,
div.refAnnexes_itco>.section>.section_ti {
	font-size: 1.8em;
	margin-top: 1cm;
	margin-bottom: 0.5cm;
}

div.refAnnexes_itco>.section>.section_ti {
	margin-top: 0cm;
}

div.refAnnexes_itti {
	font-size: 1.4em;
	margin-top: 1cm;
	margin-bottom: 0cm;
}

h4.section_ti,
div.refAnnexes_itco>.section>div.section>.section_ti {
	font-size: 1.5em;
	margin-top: 0.7cm;
	margin-bottom: 0.3cm;
}

h5.section_ti,
div.refAnnexes_itco>.section>div.section>div.section>.section_ti {
	font-size: 1.3em;
	margin-top: 0.5cm;
	margin-bottom: 0.2cm;
}

h6.section_ti,
div.refAnnexes_itco>.section>div.section>div.section>div.section>.section_ti {
	font-size: 1.1em;
	margin-top: 0.5cm;
	margin-bottom: 0.2cm;
}













/* === Blocs STYLES ======================================================= */

div.bkBase {
	margin: 0.3cm 0 0.5cm 0;
}

div.bkBase_ti {
	font-size: 1.2em;
	margin-top: 0.2cm;
	font-weight: bolder;
}

/* slideshow pdf : speaker & reader */
div.sldCom {
	-fs-keep-with-inline: keep;
	background-repeat: no-repeat;
	margin: 0.8cm 0 0.1cm 0;
	page-break-before: always;
}

div.sldCom_ti {
	font-size: 1.6em;
	padding-top: 0.2cm;
	padding-right: 0.2cm;
	margin-top: 0.2cm;
	font-weight: bolder;
	text-align: right;
	font-style: italic;
}

/* === RESOURCES STYLES =================================================== */

/* Images */
div.binCap {
	text-align: center;
	margin: 0.3cm auto;
	page-break-inside: avoid;
}

div.binCap_ti {}

/* Galerie */
div.bkImg {
	text-align: center;
	-fs-keep-with-inline: keep;
}

div.img {
	display: inline-block;
	margin: 0.3cm;
}

div.img>div.binCap {
	margin: 0;
}

div.txt_anim_ex {
	text-align: center;
	margin: 0.2cm 0;
}

div.resInFlow,
div.tabCap,
table.of_text_tb {
	margin-top: 0.4em;
	margin-bottom: 0.5em;
}

div.resInFlow_ti,
div.tabCap_ti {
	font-style: italic;
	text-align: center;
	margin-top: 0.2em;
	font-size: 0.8em;
}

div.resInFlow {
	page-break-inside: avoid;
}

div.resInFlow_co {
	text-align: center;
}

div.heading_co>div.bloc:first-child {
	margin-top: 0.5em;
}












/* === TEXT STYLES ========================================================== */

/* table */
table.txt_tb {
	border-collapse: collapse;
	margin: 0.3cm auto 0.3cm auto;
	page-break-inside: avoid;
}

div.bkBase table.txt_tb p.txt_p {
	margin-left: 0cm;
	/* no tabulation */
}

table.txt_tb caption,
table.grpTab_tb caption {
	font-style: italic;
	/*	page-break-before: avoid;*/
	caption-side: bottom;
}

table.txt_tb td,
table.txt_tb th {
	padding: 0.1cm 0.1cm;
	page-break-inside: avoid;
}



/* spans*/
.txt_url_ul {
	text-decoration: none;
}

a.txt_url_ul.showHref:after {
	content: "["attr(href) "]";
	vertical-align: super;
	font-size: 7pt;
	word-wrap: break-word;
	color: #333;
	font-style: italic;
}

.txt_url_ul.mailto {}

.txt_ico_tim>img {
	vertical-align: middle;
}

.txt_def_ref a,
.txt_def_ul,
.txt_doc_ref a,
.txt_doc_ul {
	text-decoration: none;
}

.txt_def_ref span,
.txt_doc_ref span {
	display: none;
}

.txt_quote_is::before {
	content: "“";
}

.txt_quote_is::after {
	content: "”";
}

.txt_emphasis_is {}

.txt_special_ph {}




/*** Références au glossaire ***/
p.txt_p a.refGlossary_ref {
	display: none;
}

div.paper p.txt_p a.refGlossary_ref {
	display: inline;
	text-decoration: none;
	font-style: italic;
	color: black;
	vertical-align: super;
	font-size: x-small;
}

/*** Références aux annexes ***/
p.txt_p a.refAnnexes_ref {
	display: none;
}

a.refAnnexes_a.margin_a:after,
.marginBk>.txt_fwd>a:after {
	content: " (cf. p. "target-counter(attr(href), page) ")";
	color: #222;
}

.marginBk>.txt_fwd {
	vertical-align: baseline;
	font-size: inherit;
}

.refAnnexes_ref:before {}

.refAnnexes_ref:after {}

.txt_ref_ref a {
	text-decoration: none;
}

.txt_ref_ref a span {
	display: none;
}

.txt_ref_ul {
	text-decoration: none;
}


/* === INDEXES =========================================================== */


/*** Glossaire ***/

div.refGlossary_itti {
	font-size: 1.5em;
	margin-top: 0.7cm;
	margin-bottom: 0.3cm;
}

div.refGlossary_itti:before {
	font-weight: normal;
	vertical-align: super;
	font-size: small;
}



/* Table of content */
div.root_co {
	page-break-before: always;
	/* tricks right = left */
	page: toc;
	/*	-fs-page-sequence: start;*/
}

.compact div.root_co {
	page-break-before: auto;
}

div.toc_co ul {
	margin: 0;
	padding-left: 0.5em;
}

div.toc_co>ul {
	padding-left: 0;
}

div.toc_co li {
	list-style: none;
	margin: 0.2cm 0;
}

div.toc_co a {
	text-decoration: none;
	color: black;
}

div.toc_co a:after {
	content: leader(' ') " "target-counter(attr(href), page);
}

div.toc_co a.tocDth_1:after {
	content: leader('.') " "target-counter(attr(href), page);
}