/* ===  PAGES ========================================================= */

@page:first {
	background: none;
	margin:0cm 0cm; 
	padding:0cm 0cm;
	/* warning : creates a bug, (hidden text in right margin) */
	/* you need to fix the width of the content  f.i. .root_co{width:18.5cm;} */
	@top-left {
		content: "";
	}
	@top-center {
		content: "";
	}
	@top-right {
		content: "";
	}
	
	@bottom-left {
		content: "";
	}
	@bottom-center {
		content: "";
	}
	@bottom-right {
		content: "";
		
	}
}

@page:last {
	margin:0cm 0cm; 
	padding:0cm 0cm;
	background:url("img/last.png") no-repeat left bottom;
	background-size: 21cm  auto;
}

div.fpHeader {
/*	position: running(fpHeader);	*/
}
div.fpFooter {
/*	position: running(fpFooter);*/
} 



/* === ELEMENTS LAYOUT ================================================== */
div.front{
	background-repeat:no-repeat;
	background-position: center center;
	background-size: 21cm  auto;
	height:29.7cm;
	width:21cm;
}
div.zTitle{
	position:absolute;
	width:18cm;
	height:2cm;
	right:1cm;
	top:3cm;
}
.zfpHeader{
	position:absolute;
	width:18cm;
	height:1cm;
	left:1cm;
	top:1cm;
}
.zfpFooter{
	position:absolute;
	width:18cm;
	height:2cm;
	left:1cm;
	top:26.7cm;
}
.zMeta{
	position:absolute;
	width:18cm;
	height:3cm;
	right:1cm;
	top:18cm;
}
.zIllus{
	position:absolute;
	width:18cm;
	height:15cm;
	right:1.5cm;
	top:9cm;
}
.zIllus table{
	margin:0 auto;
}
.zIllus td{
	vertical-align:middle;
	width:18cm;
	height:15cm;
	text-align: center;
}

/* === ELEMENTS STYLES ==================================================== */

h1.root_ti {
	font-size:33pt;
	text-align: right;
}
h1.compact_ti {
    margin-bottom: 0;
    font-size: 1cm;
}
.front .subtitle{
	font-size:20pt;
	text-align: right;
}
.zfpHeader table,
.zfpFooter table{
	width:100%;
	height:100%;
}
.zfpHeader td,
.zfpFooter td{
	vertical-align:bottom;
}
.fpHeader,
.fpFooter{
	font-size:14pt;
	text-align:left;
}
.zMeta{
	font-size:26pt;
	text-align: right;
}