/* === Colors =========================================================== */
body{
	color:#000000; 
}
.root_ti, .fpFooter, .front .fpHeader, .section_root_ti{
	color:#74515F;
}
.chapter_prefix,
.front .subtitle,
a.tocDth_1 .chapter_prefix_toc:after,
a.tocDth_1 .section_prefix_toc {
	color:#74515F;
}
div.resInFlow_ti,
div.tabCap_ti,
table.txt_tb caption,
table.grpTab_tb caption{
	color:#74515F; 
}

.type{
	background-color:white;
}

/* /!\ h1 == rootTitle  */
h2.section_ti,
h4.section_ti,
div.refAnnexes_itco > .section > div.section > .section_ti,
h6.section_ti,
div.refAnnexes_itco > .section  > div.section > div.section > div.section > .section_ti,
div.toc_co a.tocDth_1,
div.toc_co a.tocDth_3{
	color:#74515F; 
}
h3.section_ti,
div.refAnnexes_itco > .section > .section_ti,
.refAnnexes_itti,
div.toc_co a.tocDth_2,
h5.section_ti,
div.refAnnexes_itco > .section > div.section > div.section > .section_ti,
div.bkComplement div.bkBase_ti,
.txt_def_ref a,
.txt_def_ul,
.txt_emphasis_is,
.txt_ref_ref a,
.txt_fwd a,
.txt_ref_ul,
.zMeta {
	color:#74515F; 
}

div.headerLeft, div.headerRight, div.footerLeft, div.footerRight {
	color:#967381;
}
div.bkEmphasis div.bkBase_ti{
	color:#74515F; 
}
div.bkEmphasis {
	padding-left:0.15cm;
	border-left:0.05cm solid #74515F; 
	background-color:#f0eeeb;
	page-break-inside: avoid;
}
div.bkInfo, div.bkComplement{
	padding-left:0.2cm;
}
div.bkComplement {
	page-break-inside: avoid;
}
div.sldCom .content{
	border-right:0.01cm solid #74515F; 
	padding-right:0.1cm;
}
div.sldCom_ti {
	color:#74515F; 
}
.txt_url_ul {
	color:#74515F;
}

table.txt_tb,
table.txt_tb td,
table.txt_tb th{
	border: 0.02cm solid #74515F;
}
table.txt_tb th{
	background-color:#74515F; 
	color:white;
}
table.txt_tb th .txt_url_ul,
table.txt_tb th a.txt_url_ul:after,
table.txt_tb th .txt_def_ref a,
table.txt_tb th .txt_def_ref a:after,
table.txt_tb th .txt_emphasis_is,
table.txt_tb th .txt_ref_ref a ,
table.txt_tb th .txt_ref_ul,
table.txt_tb th  span,
table.txt_tb th  em,
table.txt_tb th  strong{
	background-color:  white;
}

/* === Images =========================================================== */
h2.section_ti .section_title, h2.annexes_ti .section_title, h2.glossary_ti .section_title, h2.toc_ti {
	color:#74515F;
}
div.part,
div.toc{
	padding-left:0.9cm;

}

.refAnnexes_itti,
h2, h3, h4, h5, h6{
	margin-left:-0.5cm;
}
.txt_ref_ul.blackbox_yes {
	background:url(img/co/lnkExt.png) no-repeat left top;
	background-size:auto 0.3cm;
	padding-left:0.4cm;
}

/* === COUNTERS ==================================================== */
/* level 1 = h2 = chapter */
div.paper {
	counter-reset: chapter;
}
div.part > div.chapter {
	counter-increment: chapter;
}
.chapter_prefix:after{
	content: " " counter(chapter) ;
}

/* level2 */
.chapter h2,
.annexes h2{
	counter-reset: level2;
}
.chapter_co h3,
.annexes_co h3 {
	counter-increment:level2;
}
.chapter_co h3 .section_prefix:after{
	content: "  " counter(level2) ". " ;
}

/* level3 */
h3{
	counter-reset: level3;
}
.chapter_co h4,
.annexes_co h4 {
	counter-increment:level3;
}
.chapter_co h4 .section_prefix:after{
	content: counter(level2)"." counter(level3) ". " ;
}

/* level 4*/
h5 .section_prefix:after {
	content:"   ";
}
/* level 5*/
h6 .section_prefix:after {
	content:"   ";
}
/* level 6*/
div.hx_level_7  > h6 .section_prefix:after {
	content:" > ";
}
/* level 7*/
div.hx_level_8  > h6 .section_prefix:after {
	content:">> ";
}

/*** Glossary ***/ 
ul.refGlossary {
	padding-left: 0;
}
li.refGlossary_it {
	counter-increment: glossary;
}
li.refGlossary_it{
	list-style:none;
}
div.refGlossary_itti:before {
	content: "[" counter(glossary) "] ";
}

/*** Annexes ***/ 
.refAnnexes_it {
	counter-increment: annexes;
}

.refAnnexes_itti:after {
	content: " " counter(annexes);
}

/* Table of content */
div.toc_co {
	counter-reset: chapterToc;
}
a.tocDth_1.chapter_ti_lo {
	counter-increment: chapterToc;
	counter-reset: level2Toc;
}
a.tocDth_1.annexes_ti_lo,
a.tocDth_1.pre_ti_lo {
	counter-reset: level2Toc;
}
a.tocDth_1 .chapter_prefix_toc:after {
	content: " " counter(chapterToc) " - ";
}

a.tocDth_2.section_ti_lo {
	counter-increment: level2Toc;
	counter-reset: level3Toc;
}
a.tocDth_2 .section_prefix_toc:after {
	content: " " counter(level2Toc) ". ";
}

a.tocDth_3.section_ti_lo {
	counter-increment: level3Toc;
}
a.tocDth_3 .section_prefix_toc:after {
	content: counter(level2Toc)"." counter(level3Toc) ". ";
}

/* ======= Indexes ===== */
div.grpRef_a {
	font-size:10px;
	color:grey;
	font-style:italic;
}
div.grpRef_a:before {
	content: " p.";
}
a.itemRef_a{
	color:white;
}
a.itemRef_a:after {
	content: " " target-counter(attr(href), page);
	font-size:10px;
	color:grey;
}

/*** Références ***/

sup.txt_fwd a:after,
sup.refAnnexes_ref a:after,
sup.txt_def_ref a:after{
	content:" [p. " target-counter(attr(href), page) "]";
	font-size:7pt;
	color:#74515F;
}

sup.refAnnexes_ref span,
sup.txt_def_ref span{
	display:none;
}

sup.refAnnexes_ref a,
sup.txt_def_ref a{
	color:white;
	font-size:1pt;
}

span.txt_ref_ul.hideRef span.anim_ref {
	display:none;
}

/* === ConceptTree ========================================================== */
.treeRoot{
	font-size: 80%;
	page-break-inside:avoid;
}
.treeRoot p{
	line-height: 1em;
}
.treeRoot>.nodeRoot>.nodeLblFra{
	border-left:0px;
}
.treeRoot>.nodeRoot>.nodeLblFra>.nodeLbl{
	border-width: 1.5pt;
}
.treeRoot>.nodeRoot>.nodeLblFra>.nodeLbl div.nodeTi{
	font-size: 110%;
}
.treeRoot .nodeChild{
	padding-left:4pt;
}
.treeRoot .nodeChild_pre{
	border-left:1pt solid silver;
}
.treeRoot .nodeLbl p,.nodeRef p{
	margin:0;
}
.treeRoot .nodeLbl,.nodeRef{
	border:1pt solid gray;
	padding:0.1em 0.2em;
	display:inline-block;
	margin-top:0.2em;
	background-color:white;
	max-width:8cm;
}
.treeRoot .nodeLblCo{
	padding-left:0;
	background-position: center left;
	background-repeat: no-repeat;
}
.treeRoot .nodeRef{
	border-color: silver;
}
.treeRoot .nodeDesc{
	color: gray;
}
.treeRoot .nodeChildren{
	overflow:hidden;
}
.treeRoot .nodeLead{
	display:inline-block;
	height:1em;
	border-left:1pt solid silver;
	border-bottom:1pt solid silver;
	vertical-align: top;
}
.treeRoot .nodeLeadSpacer{
	display:inline-block;
	width:5pt;
}
.treeRoot .nodeRoot{
	display:inline-block;
}
.treeRoot .nodeLblFra,.nodeRefFra{
	display:inline-block;
}
.treeRoot .nodeChildren_1 .nodeLbl{
	min-width: 25pt;
}
.treeRoot .nodeChildren_2 .nodeLbl{
	min-width: 50pt;
}
.treeRoot .nodeChildren_3 .nodeLbl{
	min-width: 75pt;
}
.treeRoot .nodeChildren_4 .nodeLbl{
	min-width: 100pt;
}
.treeRoot .nodeChildren_5 .nodeLbl{
	min-width: 125pt;
}
.treeRoot .nodeChildren_6 .nodeLbl{
	min-width: 150pt;
}
.treeRoot .nodeChildren_7 .nodeLbl{
	min-width: 175pt;
}
.treeRoot .nodeChildren_8 .nodeLbl{
	min-width: 200pt;
}
.treeRoot .nodeChildren_9 .nodeLbl{
	min-width: 225pt;
}
.treeRoot .nodeIco{
	margin-right:3px;
}
.treeRoot .nodeIco img{
	vertical-align: middle;
}
.treeRoot div.nodeTi{
	font-weight: bold;
	font-family: 'FreeSerifB';
}
/* Node types */
.treeRoot .nodeType_imp{
	border: 1pt solid #967381;
}
.treeRoot .nodeType_imp .nodeTi{
	color: #967381;
}

.treeRoot a.descLnk{
	display:inline-block;
	background-color:#E5E5E5;
	font-size:7pt;
	color:gray;
	vertical-align:top;
	margin-left:1em;
	text-decoration:none;
}
.treeRoot a.descLnk::after{
	content:" [p." target-counter(attr(href), page) "]";
	font-size:7pt;
	color:gray;
}


ul.treeDesc{
	list-style-type:none;
	padding-left:0;
}
ul.treeDesc li{
	list-style-type:none;
	margin-left:2em;
}
ul.treeDesc a.descNum{
	display:inline-block;
	background-color:#E5E5E5;
	font-size:9pt;
	color:gray;
	text-decoration:none;
	min-width: 1.5em;
	text-align: center;
	margin-left:-2em;
}
ul.treeDesc div.nodeTi{
	margin-top:-1em;
	font-weight:bold;
	font-family: 'FreeSerifB';
}
ul.treeDesc span.nodeIco{
	margin-right:0.5em;
}
ul.treeDesc div.nodeTi img{
	vertical-align:middle;
}

div.listRoot ul{
	padding-left:1em;
	list-style-type: disc;
}
div.listRoot > ul.treeList{
	list-style-type:none;
	padding-left:0;
}
div.listRoot div.nodeTi{
	font-weight:bold;
	font-family: 'FreeSerifB';
}
div.listRoot span.nodeIco{
	margin-right:0.5em;
}
div.listRoot div.nodeTi img{
	vertical-align:middle;
}
div.listRoot .nodeDesc{
	color: gray;
	margin:0 3em;
}

/*======================== Skin Compact ========================*/

@page {
	size: A4 portrait;
	margin: 1.25cm 1.25cm 1.25cm 1.25cm;
	padding: 0 0 0 0;
}

@page rotated {
	size: A4 landscape
}

@page: left {
	margin-left: 1.25cm;
	margin-right: 1.25cm;
	margin-top: 1.25cm;
	margin-bottom: 1.25cm;
	padding: 0.5cm 0cm 1cm 0cm;

	@bottom-right {
		content: counter(page);
		font-size: 10pt;
		text-align: right;
		color: gray;
	}
}

@page: right {
	margin-left: 1.25cm;
	margin-right: 1.25cm;
	margin-top: 1.25cm;
	margin-bottom: 1.25cm;
	padding: 0.5cm 0cm 1cm 0cm;

	@bottom-left {
		content: unset;
		font-size: 10pt;
		text-align: left;
		color: gray;
	}

	@bottom-right {
		content: counter(page);
		font-size: 10pt;
		text-align: right;
		color: gray;
	}
}

@page part:left {
	@top-right {
		content: element(headerLeft);
	}

	@bottom-right {
		content: counter(page);
		color: #967381;
	}
	@top-left {
		content: unset;
	}

	@bottom-left {
		content: element(footerLeft);
	}
}

@page part:right {

	@top-right {
		content: element(headerLeft);
	}

	@bottom-right {
		content: counter(page);
		color: #967381; 
	}
	@top-left {
		content: unset;
	}

	@bottom-left {
		content: element(footerLeft);
	}
}

div.part, div.toc {
    padding-left: 0;
    padding-right: 0;
}

h2.section_ti .section_title, h2.annexes_ti .section_title, h2.glossary_ti .section_title, h2.toc_ti {
    padding-left: 0;
}

div.bkInfo, div.bkComplement {
    padding-left: 0;
}

.refAnnexes_itti, h2, h3, h4, h5, h6 {
    margin-left: 0;
}

div.root_co {
    width: 18.5cm;
}